---
import Layout from "../components/navbar.astro";
const title = "About";
---

<Layout title={title}>
    <p class="PPLG">XI PPLG 1</p>
    <p class="textabt">Kelas XI PPLG adalah kelas yang berisis programmer masa depan</p>
</Layout>