---
import Layout from "../components/navbar.astro";
const title = "HomePage";

---

<Layout title={title}>
	<iframe width="260" height="115" src="https://www.youtube.com/embed/AjbwHavdx4A?si=rZ7bU_TZo5qhqtQT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <button class="button-85" role="button"><a href="./rumah">JB Rumah</a></button>
	<p class="XIPLG">Kepodev Corp.</p>
	<h1 class="textgerak">‎ <span class="spantek"></span></h1>
</Layout>