---
import Layout from "../components/navbar.astro";
const title = "Jubel";
---

<Layout title={title}>
    <p class="PPLGPROP">PPLG PROPERTY</p>

    <table class="tbrumah">
    <tr>
        <th>
            <img src="https://artikel.rumah123.com/news-content/img/2021/10/24203711/Rumah-mewah-di-PIK-1.jpg" alt="rumah" class="rmh">
        </th>
    </tr>
    <tr>
            <td>
                    <button class="kocak" id="popupButton">  <a href="#">Pencet Aku</a></button>
            </td>
    </tr>
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" id="closeButton">&times;</span>
            <ul>
                <li><a href="#">Spesifikasi Rumah 1</a></li>
                <li><a href="#">Spesifikasi Rumah 2</a></li>
                <li><a href="#">Spesifikasi Rumah 3</a></li>
              </ul>
        </div>
    </div>
</Layout>



