---
import Layout from "../components/navbru.astro";
const title = "Tugas";
---

<Layout title={title}>
  <div class="imek">
        <img class="imek1" src="https://staticg.sportskeeda.com/editor/2020/07/055d8-15936693383765-800.jpg" alt="uuu">
        <img class="imek1" src="https://cdn.mos.cms.futurecdn.net/ndoFJA36w4c2Lg5HDmCk7C.jpg" alt="uuu">
        <div class="ulii">
            <ul>
                <li>💻 Lomba Inpormatika</li>
                <li>💻 Lomba Membuat Bom</li>
                <li>💻 Lomba Membuat POlisi</li>
                <li>💻 Lomba MEmbuta sduudued</li>
                <li>💻 Lomba lorem ipsum</li>
            </ul>
          </div>
  </div>
  <div class="main">
    <h1 class="haju">Lorem Ipsum</h1>
    <br />
    <p class="lorem">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.<br> Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. <br> Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum."
    </p>
  </div>
</Layout>
